@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


.font-sans{
  font-family: 'DM Sans', sans-serif;
}
.container{
  
  height: 100vh;
  background-image: url('./assets/todo2.jpg');
 
  background-color: rgb(155, 146, 146, 0.5); 

}
.App{
  background-color: rgb(155, 146, 146, 0.5);
}